name: Deploy MkDocs (Preview)

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    if: github.repository != 'Novanglus96/LenoreTemplate'
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs mkdocs-material 'mkdocstrings[python]' mike

      - name: Configure git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Deploy preview docs (dev)
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          mike deploy dev --push --config-file backend/mkdocs.yml
